

{%extends "base.html"%}
{%block content%}
        <div class="content">
            <div class="messageDiv">
                <form action="./createTodo/" method="POST">{% csrf_token %} <!--파이썬 로직이 들어가면 됨-->
                    <div class="input-group">                               <!-- 장고에서 제공하는 만드는 보안용 토큰 값-->
                        <input id="todoContent" name="todoContent" type="text" class="form-control" placeholder="메모할 내용을 적어주세요">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">메모하기!</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="toDoDiv">
                <ul class="list-group">
                    {% for todo in todos %}
                    <form action="./deleteTodo/" method="GET">
                        <div class="input-group" name='todo1'>
                            <li class="list-group-item">{{ todo.content }}</li> <!--머스태취. 파이썬 데이터 표현 vue에서도 쓰임-->
                            <input type="hidden" id="id" name="id" value="{{ todo.id }}"></input> <!--id, nanme: todoNum -> id -->
                            <span class="input-group-addon">
                                <button type="submit" class="custom-btn btn btn-danger">완료</button>
                         </span>
                        </div>
                    </form>
                    {% endfor %}
                </ul>
            </div>
        </div>


<!--    1.15 1hour time left 과제
    0. settings.py, project urls.py 수정
    1. todo_with_django repository에 Todo Project 생성
    2. Todo project에 my_todo_app (todo_app 똑같이해도 노상관)
    3. HTML/CSS Javascript 수업에서 작성한 todo
        index.html, js/todo.js 파일을 templates로 하는 앱 작성
    4. TodoModel : id, content (어디를 매핑시켜야하는 지 이해) - makemigration, migrate
    5. views(Controller) 작성(index, createTodo, deleteTodo, clearTodo)
    6. templates(View) 수정
    7. application의 urls.py 작성
    8. test
-->